@font-face {
  font-family: "iconfont"; /* Project id 4516830 */
  src: url("//at.alicdn.com/t/c/font_4516830_ittrfwxd55s.woff2?t=1713622303889")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_4516830_ittrfwxd55s.woff?t=1713622303889")
      format("woff"),
    url("//at.alicdn.com/t/c/font_4516830_ittrfwxd55s.ttf?t=1713622303889")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
